@import "typography"


.about
  max-width: 1140px
  margin: 0 auto

  &__content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    padding: 3.7rem 0
    border-radius: 1rem
    justify-items: center
    transition: .5s ease-in-out


  &__content:hover
    border-radius: 1rem
    box-shadow: 1.5rem 5rem 20px rgba($--color-shadow-dark, .09)
    transform: scale(1.1)

  &__item
    display: flex
    flex-direction: row
    gap: 1rem
    position: relative
    width: 100%
    align-self: center
    justify-content: center
    align-content: center
    padding: 2rem 0

  &__item:first-child::after
    content: ''
    position: absolute
    display: block
    top: 0
    width: 100%
    height: 100%
    border-right: $--color-gray solid 1px

  &__item:nth-child(2)::after
    top: 0
    content: ''
    position: absolute
    display: block
    width: 100%
    height: 100%
    border-right: $--color-gray solid 1px



  &__img
    background-color: #FFECEC
    object-fit: cover
    border-radius: 50%
    padding: 1.5rem
    height: 24px
    width: 24px
    align-self: center


  &__text
    display: flex
    flex-direction: column
  &__title
    font-size: 2.5rem
    line-height: 3rem
    font-weight: 700
    margin: 0

  &__description
    font-size: 2rem
    line-height: 3rem
    color: $--color-gray

