@import "typography"

.adv
  background-color: rgba($--background-color, .3)
  position: absolute

  &__content
    position: absolute
    top: 50%
    left: 25%
    transform: translate(25%, -50%)
    width: 114rem

    max-width: 114rem
    margin: 0 auto

    display: grid
    grid-template-columns: repeat(2, 1fr)
    background-color: #ffffff
    padding: 6rem 7rem
    border-radius: 1rem

  &__title
    text-align: start !important
    max-width: 44rem

  &__description
    text-align: start !important

  &__left
    align-self: center
    justify-self: end


  &__button
    background-color: $--color-orange
    padding: 2rem
    width: 25rem
    font-size: $--font-size-middle
    color: #ffffff
    font-weight: 500
    border-radius: 1rem
    border: none


// адаптация
@media (max-width: 1440px)
  .adv
    &__content
      left: 1%
      transform: translate(25%, -50%)

@media (max-width: 1024px)
  .adv
    &__content
      width: 79rem
      left: auto
      transform: translate(5%, -50%)


@media (max-width: 768px), (max-width: 425px), (max-width: 375px)
  .adv
    position: unset

    &__content
      position: unset
      width: 80%
      transform: none
      grid-template-columns: 1fr
      gap: 2rem
      padding: 3rem 1rem
    &__left
      justify-self: center

