@import "typography"

.features
  background-color: rgba($--background-color, .3)
  padding: 5rem 0

  &__content
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 1rem

  &__img
    align-self: center
    justify-self: center

  &__text
    align-self: center
    display: flex
    flex-direction: column
    gap: 2rem

  &__title
    font-size: 3.5rem
    font-weight: $--font-bold
    color: $--color-black
    width: 39rem
    line-height: 5rem
    margin: 0

  &__subtitle
    color: $--color-gray
    line-height: 3rem
    font-size: 1.8rem
    width: 43rem


  &__list
    list-style: none

    display: grid
    grid-template-columns: 1fr
    padding: 0

  &__item
    font-size: $--fons-size-small
    color: $--color-gray
    line-height: 3rem
    display: flex
    gap: 1rem

  &__item:before
    content: ''
    background-image: url("/src/img/icons/done.png")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    width: 24px
    height: 24px


// адаптация

@media (max-width: 1024px)
  .features
    &__title
      font-size: 3rem

    &__subtitle
      font-size: 1.6rem

@media (max-width: 768px), (max-width: 425px), (max-width: 375px)
  .features
    &__img img
      width: 100%

    &__content
      display: flex
      flex-direction: column-reverse

    &__text
      text-align: center