// fonts
@import "fonts"
$--font-family: 'Rubik', serif


html, body
  font-size: 10px
  font-family: $--font-family
  margin: 0
  padding: 0
  height: 100%


.wrapper
  min-height: 100%
  display: flex
  flex-direction: column

main
  flex: 1 1 auto

.container
  max-width: 144rem
  width: 100%
  margin: 0 auto
  //overflow: hidden

// header
@import "header"

// intro
@import "intro"

// btn component
@import "btn"

// about
@import "about"

// features
@import "features"

// pricing
@import "pricing"

// card
@import "card"
// testimonials
@import "testimonials"
// reviews
@import "reviews"

// adv
@import "adv"
// footer
@import "footer"

// typography
@import "typography"


footer
  background-color: yellow