
// fonts
@import "fonts"
$--font-family: 'Rubik', serif


html, body
  font-size: 10px
  font-family: $--font-family




main
  flex: 1 1 auto

.container
  max-width: 144rem
  width: 100%
  margin: 0 auto

// header
@import "header"

// intro
@import "intro"

// btn component
@import "components/btn"

// about
@import "about"

footer
  background-color: yellow