
// colors
$--color-gray: #4F5665
$--color-orange: #F53838
$--color-black: #0B132A
$--color-shadow: #F5383859

// font size
$--font-size-big: 3.5rem
$--font-size-middle: 1.6rem
$--fons-size-small: 1.4rem

// font weight
$--font-regular: 400
$--font-bold: 500


.title
  font-size: $--font-size-big
  line-height: 5rem
  text-align: center
  margin: 0

.description
  font-size: $--font-size-middle
  color: $--color-gray
  text-align: center